.tableHeader > tr > th {
  font-weight: bold !important;
  letter-spacing: -0.01em;
  font-family: inherit;
  line-height: 0.5;
  font-size: 13px;
  text-transform: capitalize;
  /* background-color: #f6f6f7; */
  background-color: white !important;
  color: inherit;
  border: 1px solid #0000001f !important;
  border-width: 0px 0px 0px 1px !important;
}
